@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poor+Story&display=swap');

.btn{
  background-color: green;
}

.login-part
{
  margin: 1%;
  background-color: lemonchiffon;
}

.login-part-title
{
  font-family: 'Nanum Pen Script', cursive;
  font-family: 'Poor Story', cursive;
}
.header_part{
  margin-left: 20%;
}
.left{
  height: 1000px;
  background-color: lightblue;
}